@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body 
{
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background: #222;
}

.container 
{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300pz, 1fr));
    grid-template-rows: minmax(100pz, auto);
    gap: 10px;
    grid-auto-flow: dense;
    margin: 40px;
}

.container .box 
{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: cinter;
    text-align: center;
    transform: o, 5s;
}

.container .box:hover 
{
    background: #e91e63;
}

.container .box img 
{
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.container .box:nth-child(1) 
{
    grid-column: 2;
    grid-row: 1;
}

.container .box:nth-child(2) 
{
    grid-column: 1;
    grid-row: 2;
}

.container .box:nth-child(4) 
{
    grid-column: 1;
    grid-row: 2;
}

.container .box:nth-child(5) 
{
    grid-column: 3;
    grid-row: 1;
}


@media (max-width: 991px) 
{
    .container 
    {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }

    .container .box 
    {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}